.Toolbar {
  background-color: #282c34;
  width: 5.5rem;
}

.ToolButton {
  min-width: 4rem;
  margin-left: 0.05rem;
}

.ToolButton-passive {
  font-weight: normal;
  color: black;
}

.ToolButton-active {
  font-weight: bold;
  color: limegreen;
}
