.App {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  height: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.Canvas-container {
  display: block;
  width: 100vw;
  height: calc(100vh - 2rem);
}

.Canvas {
  display: block;
  width: 100%;
  height: 100%;
}
